/* 
 * Load the default Redmine stylesheet
 */
@import url("../../../stylesheets/application.css");


/*
 * Special fonts
 */
@font-face {
    font-family: "zeroes_3";
    src: url("../fonts/zeroes_3.ttf") format("truetype");
}
@font-face {
    font-family: "audimat";
    src: url("../fonts/audimat.ttf") format("truetype");
}


/*
 * Theme selection menu CSS
 */
#theme_menu {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}
#theme_menu div,
#theme_menu p,
#theme_menu h2,
#theme_menu h3 {
    color: #ccc;
    font-family: audimat;
}
#theme_menu p {
    margin: 8px;
}
#theme_menu.visible {
    display: block;
}
#theme_menu #theme_menu_bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    z-index: 11;
}
#theme_menu #theme_menu_aligner {
    margin: 0 auto;
    border-spacing: 0;
    height: 100%;
    z-index: 12;
}
#theme_menu #theme_menu_window {
    padding: 2px;
    background: #888;
    border-radius: 10px;
}
#theme_menu #theme_menu_window_bg {
    overflow: hidden;
    background: #000;
    border-radius: 10px;
}

#theme_menu #theme_menu_title {
    display: block;
    height: 40px;
    position: relative;
}
#theme_menu #theme_menu_title h1 {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    line-height: 40px;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    color: #fff;
    display: block;
}
#theme_menu #theme_menu_title #theme_menu_close {
    right: 5px;
    top: 5px;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
    background: #222;
    color: #ccc;
    cursor: pointer;
    border-radius: 7px;
}
#theme_menu #theme_menu_title #theme_menu_close:hover {
    background: #444;
    color: #fff;
}

#theme_menu #theme_menu_content {
    padding: 2px;
    display: block;
    overflow: hidden;
    background: #222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#theme_menu #theme_menu_content h2 {
    margin: 0;
    padding: 6px 8px;
    color: #fff;
    font-size: 18px;
}
#theme_menu #theme_menu_content h3 {
    margin: 0;
    padding: 6px 8px;
    background: #444;
    color: #ccc;
    font-size: 16px;
    border-radius: 6px;
}
#theme_menu #theme_menu_content h3 + * {
    margin-top: 8px;
}
#theme_menu #theme_menu_content .skin {
    margin: 8px;
    float: left;
    display: block;
    cursor: pointer;
}
#theme_menu #theme_menu_content .skin:hover h3 {
    background: #666;
    color: #fff;
}
#theme_menu #theme_menu_content .skin.active {
    cursor: default;
}
#theme_menu #theme_menu_content .skin.active h3 {
    background: #222;
    color: #fff;
    font-style: italic;
}
#theme_menu .menu-section {
    margin: 10px;
    display: block;
    overflow: hidden;
    background: #444;
    border: 2px solid #444;
    border-radius: 8px;
}
#theme_menu .menu-content {
    padding: 12px;
    overflow: hidden;
    background: #000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#theme_menu #theme_font_size {
    vertical-align: middle;
}


/* 
 * Additional CSS for all themes
 */
body h1, body.controller-wiki .wiki h1 { font-size: 175%; }
body h2, body.controller-wiki .wiki h2 { font-size: 150%; }
body h3, body.controller-wiki .wiki h3 { font-size: 125%; }
body h4, body.controller-wiki .wiki h4 { font-size: 100%; }
body h5, body.controller-wiki .wiki h5 { font-size: 100%; }
body.controller-wiki .wiki { margin-left: 80px; }
body.controller-wiki .wiki h1 { margin-left: -80px; }
body.controller-wiki .wiki h2 { margin-left: -40px; }
body.controller-wiki .wiki h3,
body.controller-wiki .wiki h4,
body.controller-wiki .wiki h5 { margin-left: 0; }
body #overlay_clock {
    padding: 1px 6px;
    bottom: 0;
    right: 0;
    position: fixed;
    background: #fff;
    color: #000;
    font-family: audimat;
    font-size: 200%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top-left-radius: 5px;
}


/* 
 * Additional CSS for all black themes
 */
html.black-theme body,
html.black-theme legend,
html.black-theme #header,
html.black-theme #header a { color: #eee; }
html.black-theme #main-menu li a { color: #eee; border-top-left-radius: 5px; border-top-right-radius: 5px; }
html.black-theme #main-menu li a:hover { background: #444; color: #fff; }
html.black-theme #main-menu li a.selected,
html.black-theme #main-menu li a.selected:hover { color: #fff; }
html.black-theme h1,
html.black-theme h2,
html.black-theme h3,
html.black-theme h4,
html.black-theme h5 { color: #fff; }
html.black-theme table.list { border-color: #333; }
html.black-theme table.list th { background-color: #333; color: #eee; }
html.black-theme .odd { background-color: #151515; }
html.black-theme .even { background-color: #000; }
html.black-theme #overlay_clock {
    background: #000;
    color: #fff;
    border-color: #666;
}
/* wiki */
html.black-theme .wiki { color: #ccc; }
html.black-theme #content .wiki h1,
html.black-theme #content .wiki h2,
html.black-theme #content .wiki h3,
html.black-theme #content .wiki h4,
html.black-theme #content .wiki h5 { color: #fff; }
html.black-theme div.wiki pre { background-color: #222; color: #ddd; border-color: #666; border-radius: 5px; }
html.black-theme a.wiki-anchor:hover { color: #ddd !important; }
html.black-theme h1:hover a.wiki-anchor,
html.black-theme h2:hover a.wiki-anchor,
html.black-theme h3:hover a.wiki-anchor { color: #888; }
/* diff */
html.black-theme .diff_out { background: #330000; }
html.black-theme .diff_out span { background: #550000; }
html.black-theme .diff_in { background: #003300; }
html.black-theme .diff_in span { background: #005500; }
/* scm revision */
html.black-theme table.filecontent { border-color: #282828; background-color: #181818; color: #ccc; }
html.black-theme table.filecontent th.filename,
html.black-theme table.filecontent th { border-color: #282828; background-color: #222; }
html.black-theme table.filecontent tbody,
html.black-theme table.filecontent td.line-code pre { font-size: inherit; }
html.black-theme table.filecontent tr.spacing td { background-color: #000; }
/* custom reports */
html.black-theme .custom-report {
    background: #fff;
    color: #000;
    overflow: hidden;
}
/* context menu */
html.black-theme #context-menu a { color: #000; }
html.black-theme #context-menu a.disabled { color: #666; }


/* 
 * Additional CSS for all white themes
 */


