/* stylesheet to cut side bar in tickets page */
html #sidebar {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background: #eee;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
    border-bottom-left-radius: 5px;
}
html.black-theme #sidebar {
    background: #222;
}
html #sidebar h3 {
    margin-top: 8px;
    margin-bottom: 5px;
}
html #content {
    width: 100%;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    border-right: 0 none;
}
html .autoscroll {
    clear: both;
}
