/* stylesheet to cut side bar in tickets page */
.controller-issues #sidebar {
    padding-left: 10px;
    padding-bottom: 10px;
}
.controller-issues #content {
    width: 100%;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    border-right: 0 none;
}

