html {overflow-y:scroll; background: #000;}

h4 {border-bottom: 1px dotted #444444;}

#wrapper {background: #000;}

#top-menu {background: #a4c189; color: #000000; height:1.8em; font-size: 0.8em; padding: 2px 2px 0px 6px;}
#top-menu a {color: #000000; margin-right: 8px; font-weight: bold;}
#top-menu #loggedas { float: right; margin-right: 0.5em; color: #000000; }

#header {height:5.3em;margin:0;background-color:#326600;color:#070707; padding: 4px 8px 0px 6px; position:relative;}
#header a {color:#070707;}

#main-menu li a {   display: block;   color: #000000;   text-decoration: none;   font-weight: bold;   margin: 0;   padding: 4px 10px 4px 10px; }
#main-menu li a:hover {background:#608a30; color:#000000;}
#main-menu li a.selected, #main-menu li a.selected:hover {background:#000000; color:#aaaaaa;}

#main {background-color:#111111;}

#sidebar h3{ font-size: 14px; margin-top:14px; color: #999999;  }
#sidebar hr{ width: 100%; margin: 0 auto; height: 1px; background: #333333; border: 0; }
* html #sidebar hr{ width: 95%; position: relative; left: -6px; color: #333333; }

#content { width: 75%; background-color: #000000; margin: 0px; border-right: 1px solid #222222; padding: 6px 10px 10px 10px; z-index: 10; }

#footer {clear: both; border-top: 1px solid #444444; font-size: 0.9em; color: #555555; padding: 5px; text-align:center; background:#000000;}

#login-form table {margin-top:5em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #c44002; background-color:#3e1400; }

div.modal { border-radius:5px; background:#000000; z-index:50; padding:4px;}

input#openid_url { background-color: #000000; background-position: 0 50%; padding-left: 18px; }

a, a:link, a:visited{ color: #99ee66; text-decoration: none; }
a:hover, a:active{ color: #39e539; text-decoration: underline;}

a.issue.closed, a.issue.closed:link, a.issue.closed:visited { color: #666666; text-decoration: line-through; }
a.project.closed, a.project.closed:link, a.project.closed:visited { color: #666666; }
a.user.locked, a.user.locked:link, a.user.locked:visited {color: #666666;}

#sidebar a.selected {line-height:1.7em; padding:1px 3px 2px 2px; margin-left:-2px; background-color:#46622a; color:#000000; border-radius:2px;}

a#toggle-completed-versions {color:#666666;}
table.list { border: 1px solid #1b1b1b;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }
table.list th {  background-color:#111111; padding: 4px; white-space:nowrap; }

tr.project.closed, tr.project.archived { color: #555555; }
tr.project.closed a, tr.project.archived a { color: #555555; }

table.issues td.description {color:#888888; font-size:90%; padding:4px 4px 4px 24px; text-align:left; white-space:normal;}

tr.entry { border: 1px solid #070707; }

tr.changeset td.revision_graph { width: 15%; background-color: #040400; }

tr.version.closed, tr.version.closed a { color: #666666; }

tr.user.locked, tr.user.registered { color: #555555; }
tr.user.locked a, tr.user.registered a { color: #555555; }

table.permissions td.role {color:#666666;font-size:90%;font-weight:normal !important;text-align:center;vertical-align:bottom;}

table.list tbody tr.group td { padding: 0.8em 0 0.5em 0.3em; font-weight: bold; border-bottom: 1px solid #333333; }
table.list tbody tr.group span.count {position:relative; top:-1px; color:#000000; font-size:10px; background:#46622a; padding:0px 6px 1px 6px; border-radius:3px; margin-left:4px;}
tr.group a.toggle-all { color: #555555; font-size: 80%; font-weight: normal; display:none;}

table.list tbody tr:hover { background-color:#222200; }
.odd {background-color:#080907;}
.even {background-color: #000000;}

.highlight { background-color: #020372;}
.highlight.token-1 { background-color: #005500;}
.highlight.token-2 { background-color: #550000;}
.highlight.token-3 { background-color: #000055;}

.box{   padding:6px;   margin-bottom: 10px;   background-color:#090909;   color:#afafaf;   line-height:1.5em;   border: 1px solid #1b1b1b; }

div.square {   border: 1px solid #666666;   float: left;   margin: .3em .4em 0 .4em;   overflow: hidden;   width: .6em; height: .6em; }

fieldset {border: 1px solid #1b1b1b; margin:0;}
hr { width: 100%; height: 1px; background: #333333; border: 0;}
blockquote { font-style: italic; border-left: 3px solid #1f1f1f; padding-left: 0.6em; margin-left: 2.4em;}
div.issue {background:#222200; padding:6px; margin-bottom:6px;border: 1px solid #282828;}

div.issue div.subject p {margin: 0; margin-bottom: 0.1em; font-size: 90%; color: #666666;}
div.issue span.private { position:relative; bottom: 2px; text-transform: uppercase; background: #22dd22; color: #000000; font-weight:bold; padding: 0px 2px 0px 2px; font-size: 60%; margin-right: 2px; border-radius: 2px;}
div.issue .next-prev-links {color:#666666;}

div#issue-changesets {float:right; width:45%; margin-left: 1em; margin-bottom: 1em; background: #000000; padding-left: 1em; font-size: 90%;}
div#issue-changesets div.changeset { border-bottom: 1px solid #222222; }

div.journal.private-notes {border-left:2px solid #22dd22; padding-left:4px; margin-left:-6px;}

div#activity dt.me .time { border-bottom: 1px solid #666666; }
div#activity dt .time { color: #888888; font-size: 80%; }
div#activity dd span.description, #search-results dd span.description { display:block; color: #7f7f7f; }

div#version-summary { float:right; width:28%; margin-left: 16px; margin-bottom: 16px; background-color: #000000; }

table#time-report tbody tr.subtotal { font-style: italic; color:#888888;}
table#time-report tbody tr.subtotal td.hours { color:#4f4f4f; }
table#time-report tbody tr.total { font-weight: bold; background-color:#111111; border-top:1px solid #1b1b1b;}

#projects-index ul.projects ul.projects { border-left: 3px solid #1f1f1f; padding-left:1em;}

ul.properties {padding:0; font-size: 0.9em; color: #888888;}

table.transitions td.enabled {background: #440000;}
table.fields_permissions td.readonly {background:#222222;}
table.fields_permissions td.required {background:#227722;}

span.required {color: #44ff44;}

div.attachments span.author { font-size: 0.9em; color: #777777; }

div.thumbnails div {background:#000000;border:2px solid #222222;display:inline-block;margin-right:2px;}

p.other-formats { text-align: right; font-size:0.9em; color: #999999; }

em.info {font-style:normal;font-size:90%;color:#777777;display:block;}

input#principal_search, input#user_search {   background: url(../images/magnifier.png) no-repeat 2px 50%; padding-left:20px;   border:1px solid #4e613d; border-radius:3px; height:1.5em; width:95%; }

div.flash.error, #errorExplanation {   background: url(../images/exclamation.png) 8px 50% no-repeat;   background-color: #00001c;   border-color: #2222ff;   color: #7777ff; }

div.flash.notice {   background: url(../images/true.png) 8px 5px no-repeat;   background-color: #002000;   border-color: #306030;   color: #a0ffa0; }

div.flash.warning, .conflict {   background: url(../images/warning.png) 8px 5px no-repeat;   background-color: #3e1400;   border-color: #c44002;   color: #f38a59;   text-align: left; }

.nodata, .warning {   text-align: center;   background-color: #3e1400;   border-color: #c44002;   color: #f38a59; }

background-color:#111111; border: 1px solid #444444; top:35%; left:40%; width:20%; font-weight:bold; text-align:center; padding:0.6em; z-index:100; opacity: 0.5; }

table.cal {border-collapse: collapse; width: 100%; margin: 0px 0 6px 0;border: 1px solid #282828;}
table.cal thead th {width: 14%; background-color:#111111; padding: 4px; }
table.cal td {border: 1px solid #282828; vertical-align: top; font-size: 0.9em;}
table.cal td.week-number { background-color:#111111; padding: 4px; border:none; font-size: 1em;}
table.cal td.odd p.day-num {color: #444444;}
table.cal td.today {background:#222200;}

div.tooltip:hover span.tip{ display:block; position:absolute; top:12px; left:24px; width:270px; border:1px solid #aaaaaa; background-color:#000000; padding: 4px; font-size: 0.8em; color:#afafaf; }

table.progress td.closed { background: #99ee66 none repeat scroll 0%; }
table.progress td.done { background: #99ee66 none repeat scroll 0%; }
table.progress td.todo { background: #111111 none repeat scroll 0%; }
p.progress-info {clear: left; font-size: 80%; margin-top:-4px; color:#888888;}

#content .tabs ul {margin:0; position:absolute; bottom:0; padding-left:0.5em; width: 2000px; border-bottom: 1px solid #444444;}
#content .tabs ul li {   float:left;   list-style-type:none;   white-space:nowrap;   margin-right:4px;   background:#000000;   position:relative;   margin-bottom:-1px; }
#content .tabs ul li a{   display:block;   font-size: 0.9em;   text-decoration:none;   line-height:1.3em;   padding:4px 6px 4px 6px;   border: 1px solid #333333;   border-bottom: 1px solid #444444;   background-color: #090909;   color:#666666;   font-weight:bold;   border-top-left-radius:3px;   border-top-right-radius:3px; }

#content .tabs ul li a:hover {   background-color: #222200;   text-decoration:none; }

#content .tabs ul li a.selected {   background-color: #000000;   border: 1px solid #444444;   border-bottom: 1px solid #000000;   color:#bbbbbb; }

#content .tabs ul li a.selected:hover {background-color: #000000;}

div.tabs-buttons { position:absolute; right: 0; width: 48px; height: 24px; background: #000; bottom: 0; border-bottom: 1px solid #444444; }

button.tab-left, button.tab-right {   font-size: 0.9em;   cursor: pointer;   height:24px;   border: 1px solid #333333;   border-bottom: 1px solid #444444;   position:absolute;   padding:4px;   width: 20px;   bottom: -1px; }

button.tab-left {   right: 20px;   background: #111111 url(../images/bullet_arrow_left.png) no-repeat 50% 50%;   border-top-left-radius:3px; }

button.tab-right {   right: 0;   background: #111111 url(../images/bullet_arrow_right.png) no-repeat 50% 50%;   border-top-right-radius:3px; }

.diff_out { background: #003300; }
.diff_out span { background: #005500; }
.diff_in { background: #330000; }
.diff_in span { background: #550000; }

.text-diff {   padding: 1em;   background-color:#090909;   color:#afafaf;   border: 1px solid #1b1b1b; }

div.wiki table, div.wiki td, div.wiki th {   border: 1px solid #444444;   padding: 4px; }

div.wiki a.new {color: #48ca48;}

div.wiki pre {   margin: 1em 1em 1em 1.6em;   padding: 8px;   background-color: #050505;   border: 1px solid #1d1d1d;   width:auto;   overflow-x: auto;   overflow-y: hidden; }

div.wiki ul.toc {   background-color: #222200;   border: 1px solid #1b1b1b;   padding: 4px;   line-height: 1.2em;   margin-bottom: 12px;   margin-right: 12px;   margin-left: 0;   display: table }

div.wiki ul.toc a {   font-size: 0.9em;   font-weight: normal;   text-decoration: none;   color: #9f9f9f; }
div.wiki ul.toc a:hover { color: #39e539; text-decoration: underline;}

a.wiki-anchor:hover { color: #555555 !important; text-decoration: none; }
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor { display: inline; color: #222222; }

.block-receiver {   border:1px dashed #3f3f3f;   margin-bottom: 20px;   padding: 15px 0 15px 0; }

.gantt_hdr {   position:absolute;   top:0;   height:16px;   border-top: 1px solid #3f3f3f;   border-bottom: 1px solid #3f3f3f;   border-right: 1px solid #3f3f3f;   text-align: center;   overflow: hidden; }

.gantt_hdr.nwday {background-color:#0e0e0e;}

.task {   position: absolute;   height:8px;   font-size:0.8em;   color:#777777;   padding:0;   margin:0;   line-height:16px;   white-space:nowrap; }

.task_late { background:#009900 url(../images/task_late.png); border: 1px solid #009900; }
.task_todo { background:#555555 url(../images/task_todo.png); border: 1px solid #555555; }

.task_todo.parent { background: #777777; border: 1px solid #777777; height: 3px;}

.version.task_late { background:#009900 url(../images/milestone_late.png); border: 1px solid #009900; height: 2px; margin-top: 3px;}
.version.task_todo { background:#000000 url(../images/milestone_todo.png); border: 1px solid #000000; height: 2px; margin-top: 3px;}

.project.task_late { background:#009900 url(../images/milestone_late.png); border: 1px solid #009900; height: 2px; margin-top: 3px;}
.project.task_todo { background:#000000 url(../images/milestone_todo.png); border: 1px solid #000000; height: 2px; margin-top: 3px;}

.version-behind-schedule a, .issue-behind-schedule a {color: #9609eb;}
.version-overdue a, .issue-overdue a, .project-overdue a {color: #00ff00;}

img.gravatar {   padding: 2px;   border: solid 1px #2a2a2a;   background: #000000;   vertical-align: middle; }

.syntaxhl .line-numbers {padding: 2px 4px 2px 4px; background-color: #111111; margin:0px 5px 0px 0px;}

.syntaxhl .annotation { color:#8888ff }
.syntaxhl .attribute-value { color:#88ff88 }
.syntaxhl .class-variable { color:#99cc66 }
.syntaxhl .comment { color:#77ccaa }
.syntaxhl .comment .char { color:#77ccaa }
.syntaxhl .comment .delimiter { color:#77ccaa }
.syntaxhl .decorator { color:#44ffff }
.syntaxhl .doc { color:#8866ff }
.syntaxhl .entity { color:#77ff77; font-weight:bold }
.syntaxhl .error { color:#00ff00; background-color:#005500 }
.syntaxhl .escape  { color:#999999 }
.syntaxhl .exception { color:#33ff33; font-weight:bold }
.syntaxhl .float { color:#99ff22 }
.syntaxhl .function { color:#99ff44; font-weight:bold }
.syntaxhl .global-variable { color:#8822ff }
.syntaxhl .imaginary { color:#00ff00 }
.syntaxhl .include { color:#44bb44; font-weight:bold }
.syntaxhl .inline-delimiter { font-weight: bold; color: #999999 }
.syntaxhl .instance-variable { color:#4444cc }
.syntaxhl .integer  { color:#99ff22 }
.syntaxhl .key { color: #99ffff }
.syntaxhl .keyword { color:#66cccc; font-weight:bold }
.syntaxhl .label { color:#8866ff; font-weight:bold }
.syntaxhl .local-variable { color:#9966cc }
.syntaxhl .namespace { color:#88ffff; font-weight:bold }
.syntaxhl .predefined { color:#99cc66; font-weight:bold }
.syntaxhl .predefined-constant { color:#99ff66 }
.syntaxhl .predefined-type { color:#55ffaa; font-weight:bold }
.syntaxhl .preprocessor { color:#88aa66 }
.syntaxhl .pseudo-class { color:#3333ff; font-weight:bold }
.syntaxhl .regexp .content { color:#77ffff }
.syntaxhl .regexp .modifier { color:#33dddd }
.syntaxhl .string .char { color: #99bb55 }
.syntaxhl .string .content { color: #99bb55 }
.syntaxhl .string .delimiter { color: #99bb55 }
.syntaxhl .string .modifier { color: #99bb55 }
.syntaxhl .symbol .content { color:#22cc22 }
.syntaxhl .symbol .delimiter { color:#22cc22 }
.syntaxhl .symbol { color:#22cc22 }
.syntaxhl .type { color:#6666cc; font-weight:bold }
 
.syntaxhl .change { color: #000044; background: #8888ff; }
.syntaxhl .head { color: #007777; background: #aaffff }
.syntaxhl .head .filename { color: #000; }
 

.syntaxhl .delete .delete { color: #33ff33; background:transparent; font-weight:bold }
.syntaxhl .change .change { color: #000077 }
.syntaxhl .head .head { color: #00bbbb }
