html {overflow-y:scroll; background: #000;}

h4 {border-bottom: 1px dotted #444444;}

#wrapper {background: #000;}

#top-menu {background: #89a4c1; color: #000000; height:1.8em; font-size: 0.8em; padding: 2px 2px 0px 6px;}
#top-menu a {color: #000000; margin-right: 8px; font-weight: bold;}
#top-menu #loggedas { float: right; margin-right: 0.5em; color: #000000; }

#header {height:5.3em;margin:0;background-color:#49729d;color:#070707; padding: 4px 8px 0px 6px; position:relative;}
#header a {color:#070707;}

#main-menu li a {   display: block;   color: #000000;   text-decoration: none;   font-weight: bold;   margin: 0;   padding: 4px 10px 4px 10px; }
#main-menu li a:hover {background:#30608a; color:#000000;}
#main-menu li a.selected, #main-menu li a.selected:hover {background:#000000; color:#aaaaaa;}

#main {background-color:#111111;}

#sidebar h3{ font-size: 14px; margin-top:14px; color: #999999;  }
#sidebar hr{ width: 100%; margin: 0 auto; height: 1px; background: #333333; border: 0; }
* html #sidebar hr{ width: 95%; position: relative; left: -6px; color: #333333; }

#content { width: 75%; background-color: #000000; margin: 0px; border-right: 1px solid #222222; padding: 6px 10px 10px 10px; z-index: 10; }

#footer {clear: both; border-top: 1px solid #444444; font-size: 0.9em; color: #555555; padding: 5px; text-align:center; background:#000000;}

#login-form table {margin-top:5em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #c44002; background-color:#3e1400; }

div.modal { border-radius:5px; background:#000000; z-index:50; padding:4px;}

input#openid_url { background-color: #000000; background-position: 0 50%; padding-left: 18px; }

a, a:link, a:visited{ color: #6699ee; text-decoration: none; }
a:hover, a:active{ color: #3939e5; text-decoration: underline;}

a.issue.closed, a.issue.closed:link, a.issue.closed:visited { color: #666666; text-decoration: line-through; }
a.project.closed, a.project.closed:link, a.project.closed:visited { color: #666666; }
a.user.locked, a.user.locked:link, a.user.locked:visited {color: #666666;}

#sidebar a.selected {line-height:1.7em; padding:1px 3px 2px 2px; margin-left:-2px; background-color:#2a4662; color:#000000; border-radius:2px;}

a#toggle-completed-versions {color:#666666;}
table.list { border: 1px solid #1b1b1b;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }
table.list th {  background-color:#111111; padding: 4px; white-space:nowrap; }

tr.project.closed, tr.project.archived { color: #555555; }
tr.project.closed a, tr.project.archived a { color: #555555; }

table.issues td.description {color:#888888; font-size:90%; padding:4px 4px 4px 24px; text-align:left; white-space:normal;}

tr.entry { border: 1px solid #070707; }

tr.changeset td.revision_graph { width: 15%; background-color: #000404; }

tr.version.closed, tr.version.closed a { color: #666666; }

tr.user.locked, tr.user.registered { color: #555555; }
tr.user.locked a, tr.user.registered a { color: #555555; }

table.permissions td.role {color:#666666;font-size:90%;font-weight:normal !important;text-align:center;vertical-align:bottom;}

table.list tbody tr.group td { padding: 0.8em 0 0.5em 0.3em; font-weight: bold; border-bottom: 1px solid #333333; }
table.list tbody tr.group span.count {position:relative; top:-1px; color:#000000; font-size:10px; background:#2a4662; padding:0px 6px 1px 6px; border-radius:3px; margin-left:4px;}
tr.group a.toggle-all { color: #555555; font-size: 80%; font-weight: normal; display:none;}

table.list tbody tr:hover { background-color:#002222; }
.odd {background-color:#070809;}
.even {background-color: #000000;}

.highlight { background-color: #720203;}
.highlight.token-1 { background-color: #000055;}
.highlight.token-2 { background-color: #005500;}
.highlight.token-3 { background-color: #550000;}

.box{   padding:6px;   margin-bottom: 10px;   background-color:#090909;   color:#afafaf;   line-height:1.5em;   border: 1px solid #1b1b1b; }

div.square {   border: 1px solid #666666;   float: left;   margin: .3em .4em 0 .4em;   overflow: hidden;   width: .6em; height: .6em; }

fieldset {border: 1px solid #1b1b1b; margin:0;}
hr { width: 100%; height: 1px; background: #333333; border: 0;}
blockquote { font-style: italic; border-left: 3px solid #1f1f1f; padding-left: 0.6em; margin-left: 2.4em;}
div.issue {background:#002222; padding:6px; margin-bottom:6px;border: 1px solid #282828;}

div.issue div.subject p {margin: 0; margin-bottom: 0.1em; font-size: 90%; color: #666666;}
div.issue span.private { position:relative; bottom: 2px; text-transform: uppercase; background: #2222dd; color: #000000; font-weight:bold; padding: 0px 2px 0px 2px; font-size: 60%; margin-right: 2px; border-radius: 2px;}
div.issue .next-prev-links {color:#666666;}

div#issue-changesets {float:right; width:45%; margin-left: 1em; margin-bottom: 1em; background: #000000; padding-left: 1em; font-size: 90%;}
div#issue-changesets div.changeset { border-bottom: 1px solid #222222; }

div.journal.private-notes {border-left:2px solid #2222dd; padding-left:4px; margin-left:-6px;}

div#activity dt.me .time { border-bottom: 1px solid #666666; }
div#activity dt .time { color: #888888; font-size: 80%; }
div#activity dd span.description, #search-results dd span.description { display:block; color: #7f7f7f; }

div#version-summary { float:right; width:28%; margin-left: 16px; margin-bottom: 16px; background-color: #000000; }

table#time-report tbody tr.subtotal { font-style: italic; color:#888888;}
table#time-report tbody tr.subtotal td.hours { color:#4f4f4f; }
table#time-report tbody tr.total { font-weight: bold; background-color:#111111; border-top:1px solid #1b1b1b;}

#projects-index ul.projects ul.projects { border-left: 3px solid #1f1f1f; padding-left:1em;}

ul.properties {padding:0; font-size: 0.9em; color: #888888;}

table.transitions td.enabled {background: #004400;}
table.fields_permissions td.readonly {background:#222222;}
table.fields_permissions td.required {background:#222277;}

span.required {color: #4444ff;}

div.attachments span.author { font-size: 0.9em; color: #777777; }

div.thumbnails div {background:#000000;border:2px solid #222222;display:inline-block;margin-right:2px;}

p.other-formats { text-align: right; font-size:0.9em; color: #999999; }

em.info {font-style:normal;font-size:90%;color:#777777;display:block;}

input#principal_search, input#user_search { padding-left:20px;   border:1px solid #3d4e61; border-radius:3px; height:1.5em; width:95%; }

div.flash.error, #errorExplanation { background-color: #00001c;   border-color: #2222ff;   color: #7777ff; }

div.flash.notice { background-color: #002000;   border-color: #306030;   color: #a0ffa0; }

div.flash.warning, .conflict { background-color: #3e1400;   border-color: #c44002;   color: #f38a59;   text-align: left; }

.nodata, .warning {   text-align: center;   background-color: #3e1400;   border-color: #c44002;   color: #f38a59; }

background-color:#111111; border: 1px solid #444444; top:35%; left:40%; width:20%; font-weight:bold; text-align:center; padding:0.6em; z-index:100; opacity: 0.5; }

table.cal {border-collapse: collapse; width: 100%; margin: 0px 0 6px 0;border: 1px solid #282828;}
table.cal thead th {width: 14%; background-color:#111111; padding: 4px; }
table.cal td {border: 1px solid #282828; vertical-align: top; font-size: 0.9em;}
table.cal td.week-number { background-color:#111111; padding: 4px; border:none; font-size: 1em;}
table.cal td.odd p.day-num {color: #444444;}
table.cal td.today {background:#002222;}

div.tooltip:hover span.tip{ display:block; position:absolute; top:12px; left:24px; width:270px; border:1px solid #aaaaaa; background-color:#000000; padding: 4px; font-size: 0.8em; color:#afafaf; }

table.progress td.closed { background: #1f451f none repeat scroll 0%; }
table.progress td.done { background: #122c12 none repeat scroll 0%; }
table.progress td.todo { background: #111111 none repeat scroll 0%; }
p.progress-info {clear: left; font-size: 80%; margin-top:-4px; color:#888888;}

#content .tabs ul {margin:0; position:absolute; bottom:0; padding-left:0.5em; width: 2000px; border-bottom: 1px solid #444444;}
#content .tabs ul li {   float:left;   list-style-type:none;   white-space:nowrap;   margin-right:4px;   background:#000000;   position:relative;   margin-bottom:-1px; }
#content .tabs ul li a{   display:block;   font-size: 0.9em;   text-decoration:none;   line-height:1.3em;   padding:4px 6px 4px 6px;   border: 1px solid #333333;   border-bottom: 1px solid #444444;   background-color: #090909;   color:#666666;   font-weight:bold;   border-top-left-radius:3px;   border-top-right-radius:3px; }

#content .tabs ul li a:hover {   background-color: #002222;   text-decoration:none; }

#content .tabs ul li a.selected {   background-color: #000000;   border: 1px solid #444444;   border-bottom: 1px solid #000000;   color:#bbbbbb; }

#content .tabs ul li a.selected:hover {background-color: #000000;}

div.tabs-buttons { position:absolute; right: 0; width: 48px; height: 24px; background: #000; bottom: 0; border-bottom: 1px solid #444444; }

button.tab-left, button.tab-right {   font-size: 0.9em;   cursor: pointer;   height:24px;   border: 1px solid #333333;   border-bottom: 1px solid #444444;   position:absolute;   padding:4px;   width: 20px;   bottom: -1px; }

button.tab-left {   right: 20px;   background-color: #111111;   border-top-left-radius:3px; }

button.tab-right {   right: 0;   background-color: #111111;   border-top-right-radius:3px; }

.diff_out { background: #000033; }
.diff_out span { background: #000055; }
.diff_in { background: #003300; }
.diff_in span { background: #005500; }

.text-diff {   padding: 1em;   background-color:#090909;   color:#afafaf;   border: 1px solid #1b1b1b; }

div.wiki table, div.wiki td, div.wiki th {   border: 1px solid #444444;   padding: 4px; }

div.wiki a.new {color: #4848ca;}

div.wiki pre {   margin: 1em 1em 1em 1.6em;   padding: 8px;   background-color: #050505;   border: 1px solid #1d1d1d;   width:auto;   overflow-x: auto;   overflow-y: hidden; }

div.wiki ul.toc {   background-color: #002222;   border: 1px solid #1b1b1b;   padding: 4px;   line-height: 1.2em;   margin-bottom: 12px;   margin-right: 12px;   margin-left: 0;   display: table }

div.wiki ul.toc a {   font-size: 0.9em;   font-weight: normal;   text-decoration: none;   color: #9f9f9f; }
div.wiki ul.toc a:hover { color: #3939e5; text-decoration: underline;}

a.wiki-anchor:hover { color: #555555 !important; text-decoration: none; }
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor { display: inline; color: #222222; }

.block-receiver {   border:1px dashed #3f3f3f;   margin-bottom: 20px;   padding: 15px 0 15px 0; }

.gantt_hdr {   position:absolute;   top:0;   height:16px;   border-top: 1px solid #3f3f3f;   border-bottom: 1px solid #3f3f3f;   border-right: 1px solid #3f3f3f;   text-align: center;   overflow: hidden; }

.gantt_hdr.nwday {background-color:#0e0e0e;}

.task {   position: absolute;   height:8px;   font-size:0.8em;   color:#777777;   padding:0;   margin:0;   line-height:16px;   white-space:nowrap; }

.task_late { background-color:#000099; border: 1px solid #000099; }
.task_done { background-color:#39ff39; border: 1px solid #39ff39; }
.task_todo { background-color:#555555; border: 1px solid #555555; }

.task_todo.parent { background: #777777; border: 1px solid #777777; height: 3px;}

.version.task_late { background-color:#000099; border: 1px solid #000099; height: 2px; margin-top: 3px;}
.version.task_done { background-color:#39ff39; border: 1px solid #39ff39; height: 2px; margin-top: 3px;}
.version.task_todo { background-color:#000000; border: 1px solid #000000; height: 2px; margin-top: 3px;}

.project.task_late { background-color:#000099; border: 1px solid #000099; height: 2px; margin-top: 3px;}
.project.task_done { background-color:#39ff39; border: 1px solid #39ff39; height: 2px; margin-top: 3px;}
.project.task_todo { background-color:#000000; border: 1px solid #000000; height: 2px; margin-top: 3px;}

.version-overdue a, .issue-overdue a, .project-overdue a {color: #0000ff;}

img.gravatar {   padding: 2px;   border: solid 1px #2a2a2a;   background: #000000;   vertical-align: middle; }

.syntaxhl .line-numbers {padding: 2px 4px 2px 4px; background-color: #111111; margin:0px 5px 0px 0px;}

.syntaxhl .attribute-name { color:#77bb44 }
.syntaxhl .attribute-value { color:#8888ff }
.syntaxhl .binary { color:#66ffaa }
.syntaxhl .class { color:#77aadd; font-weight:bold }
.syntaxhl .class-variable { color:#6699cc }
.syntaxhl .color { color:#55ff55 }
.syntaxhl .complex { color:#77ff55 }
.syntaxhl .constant { color:#77aadd; font-weight:bold }
.syntaxhl .doctype { color:#44bbcc }
.syntaxhl .entity { color:#7777ff; font-weight:bold }
.syntaxhl .error { color:#0000ff; background-color:#000055 }
.syntaxhl .escape  { color:#999999 }
.syntaxhl .exception { color:#3333ff; font-weight:bold }
.syntaxhl .float { color:#2299ff }
.syntaxhl .function { color:#4499ff; font-weight:bold }
.syntaxhl .hex { color:#44ddff }
.syntaxhl .imaginary { color:#0000ff }
.syntaxhl .include { color:#4444bb; font-weight:bold }
.syntaxhl .inline-delimiter { font-weight: bold; color: #999999 }
.syntaxhl .integer  { color:#2299ff }
.syntaxhl .key .char { color: #00ff99 }
.syntaxhl .octal { color:#11ffbb }
.syntaxhl .predefined { color:#6699cc; font-weight:bold }
.syntaxhl .predefined-constant { color:#6699ff }
.syntaxhl .preprocessor { color:#6688aa }
.syntaxhl .reserved { color:#77ff77; font-weight:bold }
.syntaxhl .shell .content { color:#44dd44 }
.syntaxhl .shell .delimiter { color:#99ee99 }
.syntaxhl .string .char { color: #5599bb }
.syntaxhl .string .content { color: #5599bb }
.syntaxhl .string .delimiter { color: #5599bb }
.syntaxhl .string .modifier { color: #5599bb }
.syntaxhl .symbol .content { color:#2222cc }
.syntaxhl .symbol .delimiter { color:#2222cc }
.syntaxhl .symbol { color:#2222cc }
.syntaxhl .tag { color:#88ff88 }
.syntaxhl .variable  { color:#88ccff }
 
.syntaxhl .change { color: #440000; background: #ff8888; }
.syntaxhl .head { color: #770077; background: #ffaaff }
.syntaxhl .head .filename { color: #000; }
 

.syntaxhl .insert .insert { color: #33ff33; background:transparent; font-weight:bold }
.syntaxhl .delete .delete { color: #3333ff; background:transparent; font-weight:bold }
.syntaxhl .change .change { color: #770000 }
